# 依赖
node_modules
.DS_Store
dist
dist-ssr
*.local

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 编辑器
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 环境变量
.env
.env.local
.env.*.local

# 构建输出
.cache
.temp
.tmp
chatUI/dist
chatUI/.vite

# 数据库
backend/chat.db

# 其他
deepseek_api.txt
